<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208187121239-4tf291n8e3bn09iho19f10sbkm4b8hhg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208187121239-4tf291n8e3bn09iho19f10sbkm4b8hhg</string>
	<key>API_KEY</key>
	<string>AIzaSyBgA3WSqIiTBVrnhFTaLRls3iNIdfQqPQg</string>
	<key>GCM_SENDER_ID</key>
	<string>208187121239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Pursuit-6.1.sunni-tang.azure-overall</string>
	<key>PROJECT_ID</key>
	<string>azure-overall</string>
	<key>STORAGE_BUCKET</key>
	<string>azure-overall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208187121239:ios:65d4d89fa34f588ec50d12</string>
	<key>DATABASE_URL</key>
	<string>https://azure-overall.firebaseio.com</string>
</dict>
</plist>